@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  background-color: #000;
}
.landing-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.landing-page .div {
  height: 800px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}
.landing-page .overlap {
  height: 90%;
  left: 10px;
  position: absolute;
  top: 3px;
  width: 100%;
}
.home {
  position: relative;
  line-height: 24px;
}
.frame-child {
  position: relative;
  border-radius: 50%;
  background-color: var(--primary-color);
  width: 8.09px;
  height: 7.8px;
}
.home-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 55px;
}
.project-status-icon {
  position: relative;
  width: 13.87px;
  height: 13.38px;
}
.navber {
  position: relative;
  width: 100%;
  top: 100px;
  right: 53.44%;
  left: 130px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 21px;
  box-sizing: border-box;
  gap: 83px;
}
.navber,
.warem {
  color: white;
}
.warongwarem {
  position: absolute;
  top: 4.54%;
  left: 43.02%;
  font-size: 30px;
  line-height: 32px;
  color: #f49b33;
  font-family: var(--font-kanit);
}
.image-68-icon {
  position: absolute;
  height: 100%;
  width: 50.21%;
  top: 0;
  right: 0;
  bottom: 0.06%;
  left: 49.79%;
  max-width: 100%;
  max-height: 100%;
}
.image-child {
  position: absolute;
  height: 86.31%;
  width: 65.88%;
  top: 6.7%;
  right: 30.92%;
  bottom: 6.98%;
  left: 3.2%;
  border-radius: 50%;
  border: 2px solid var(--fffffff);
  box-sizing: border-box;
}
.image-inner,
.image-item,
.unsplashgkc-xm3vy34-icon,
.unsplashm-tzzd5z720-icon {
  position: absolute;
  height: 100%;
  width: 71.1%;
  top: 5.45%;
  right: 20.37%;
  bottom: 0;
  left: 8.53%;
  max-width: 100%;
  max-height: 100%;
}
.image-inner,
.unsplashgkc-xm3vy34-icon,
.unsplashm-tzzd5z720-icon {
  height: 14.8%;
  width: 10.98%;
  top: 11.73%;
  right: 81.77%;
  bottom: 73.46%;
  left: 7.25%;
}
.unsplashgkc-xm3vy34-icon,
.unsplashm-tzzd5z720-icon {
  height: 10.2%;
  width: 8.53%;
  top: 37.43%;
  right: 91.47%;
  bottom: 52.37%;
  left: 0;
}
.unsplashgkc-xm3vy34-icon {
  height: 8.1%;
  width: 6.93%;
  top: 58.52%;
  bottom: 33.38%;
  left: 1.6%;
}
.image {
  position: absolute;
  height: 71.2%;
  width: 53.44%;
  top: 18.43%;
  right: 1.35%;
  bottom: 10.37%;
  left: 45.21%;
  opacity: 0.8;
}
.fine-local-cuisine,
.house-made-dish-from-container {
  position: absolute;
  height: 44.97%;
  width: 100%;
  top: 12.95%;
  left: 100;
  line-height: 100px;
  font-size: 100px;
  color: #f49b33;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: inline-block;
}
.fine-local-cuisine {
  height: 120%;
  width: 100%;
  top: 0;
  font-size: 30px;
  line-height: 60px;
  font-family: var(--font-grand-hotel);
}
.button-child {
  position: absolute;
  height: 85.18%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: 100%;
  left: 0;
  font-size: 20px;
  border-radius: 25px;
  background-color: orange;
}
.reserve-a-table {
  position: absolute;
  height: 32.43%;
  width: 54.83%;
  top: 33.33%;
  left: 22.59%;
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
}
.button-item {
  position: relative;
  width: 100px;
  height: 100px;
}
.button {
  position: absolute;
  height: 18.91%;
  width: 35.65%;
  top: 81.09%;
  right: 64.35%;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-11xl);
  color: var(--fffffff);
  font-family: var(--font-nimbus-sans-becker-pbla);
}
.text-contant {
  position: absolute;
  height: 54.35%;
  width: 57.55%;
  top: 30.19%;
  right: 32.19%;
  bottom: 15.46%;
  left: 10.26%;
  font-size: 150px;
  font-family: var(--font-helvetica-compressed);
}

/* About Us */
.about-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.about-us .div {
  height: 820px;
  overflow: hidden;
  position: relative;
  width: 1520px;
}
.about-us .overlap {
  height: 85%;
  left: 10px;
  position: absolute;
  top: 3px;
  width: 100%;
}
.we-are-a {
  position: absolute;
  height: 23.4%;
  width: 90%;
  top: 20%;
  left: 0;
  font-size: 40px;
  line-height: 50px;
  display: inline-block;
  font-family: var(--headingt-2-48);
  color: orange;
}
.about-us-wrapper,
.about-us2 {
  position: absolute;
  top: 0;
  left: 0;
}
.about-us2 {
  height: 100%;
  width: 100%;
  top: 30%;
  line-height: 40px;
  display: inline-block;
}
.about-us-wrapper {
  height: 8.51%;
  width: 100%;
  right: 83.81%;
  top: 5%;
  bottom: 91.49%;
  font-size: 30px;
  color: var(--primary-color);
  font-family: var(--font-grand-hotel);
}
.check-icon,
.check-icon1,
.check-icon2 {
  position: absolute;
  height: 2.6%;
  width: 3.02%;
  top: 102.3%;
  right: 96.98%;
  bottom: 22.72%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.check-icon1,
.check-icon2 {
  top: 112.3%;
  bottom: 12.08%;
}
.check-icon2 {
  top: 122.3%;
  bottom: 1.44%;
}
.lorem-ipsum-dolor {
  position: absolute;
  height: 27.66%;
  width: 93.59%;
  top: 62.5%;
  left: 0;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  display: inline-block;
}
.lacus-nisi-et,
.lorem-ipsum-dolor1,
.quisque-diam-pellentesque {
  position: absolute;
  height: 5.53%;
  width: 100%;
  top: 100%;
  left: 4.8%;
  line-height: 26px;
  display: inline-block;
}
.lorem-ipsum-dolor1,
.quisque-diam-pellentesque {
  width: 100%;
  top: 120%;
}
.lorem-ipsum-dolor1 {
  width: 120%;
  top: 110%;
}
.we-are-a-team-of-4-with-the-sa-parent {
  position: absolute;
  height: 87.04%;
  width: 42.58%;
  top: 0;
  right: 57.42%;
  bottom: 12.96%;
  left: 0;
}
.unsplashfdlzbwip0am-icon,
.unsplashjpkfc5-d-di-icon,
.unsplashmaqz3x-8-l0-icon {
  position: absolute;
  top: 0;
  left: 814px;
  border-radius: var(--br-7xs);
  width: 814px;
  height: 443.33px;
  object-fit: cover;
}
.unsplashjpkfc5-d-di-icon,
.unsplashmaqz3x-8-l0-icon {
  top: 464.82px;
  width: 397.13px;
  height: 260.62px;
}
.unsplashmaqz3x-8-l0-icon {
  left: 1230.87px;
}
.about-us1 {
  position: absolute;
  height: 67.17%;
  width: 84.79%;
  top: 20%;
  right: 7.6%;
  bottom: 12.83%;
  left: 7.6%;
}
.about-us3,
.login {
  position: absolute;
  top: 53.61%;
  left: 12.19%;
  line-height: 24px;
}
.login {
  left: 26.08%;
}

/* Login Page */
.login-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.login-page .div {
  height: 760px;
  overflow: hidden;
  position: relative;
  width: 1520px;
}
.login-page .overlap {
  height: 90%;
  left: 10px;
  position: absolute;
  top: 3px;
  width: 100%;
}
.waiter-button-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--primary-color);
}
.manager {
  position: absolute;
  height: 100%;
  width: 75%;
  top: 31.73%;
  left: -137%;
  line-height: 24px;
  font-family: var(--font-helvetica);
  font-size: 20px;
  border-radius: 25px;
  background-color: orange;
  display: inline-block;
}
.manager-button1 {
  position: absolute;
  height: 8.75%;
  width: 20.52%;
  top: 68.8%;
  right: 70.52%;
  bottom: 22.45%;
  left: 8.96%;
}
.manager-button1 {
  top: 77.59%;
  right: 23.65%;
  bottom: 13.65%;
  left: 55.83%;
  text-align: center;
}
.textbox-password-child {
  position: absolute;
  height: 100%;
  width: 78.9%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 21.1%;
  border-radius: var(--br-8xl);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
}
.password {
  position: absolute;
  height: 22.08%;
  width: 21.1%;
  top: 50%;
  left: -408px;
  line-height: 24px;
  font-size: 20px;
  display: inline-block;
}
.password2 {
  position: absolute;
  height: 22.08%;
  width: 21.1%;
  top: -20%;
  left: -408px;
  line-height: 24px;
  font-size: 20px;
  display: inline-block;
}
.frame-input-pass {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 31.73%;
  left: -40%;
  line-height: 24px;
  font-family: var(--font-helvetica);
  font-size: 17px;
  border-radius: 15px;
  border-color: #f49b33;
  background-color: var(--primary-color);
  padding-left: 10px;
  display: inline-block;
}
.frame-input-pass2 {
  position: absolute;
  height: 100%;
  width: 49.5%;
  top: -50%;
  left: -40%;
  line-height: 24px;
  font-family: var(--font-helvetica);
  font-size: 17px;
  border-radius: 15px;
  border-color: #f49b33;
  background-color: var(--primary-color);
  padding-left: 10px;
  display: inline-block;
}
.show-password-checkbox {
  position: absolute;
  top: 65%;
  right: 82%;
  width: 20px;
  height: 20px;
  background-color: orange;
  outline: none;
  cursor: pointer;
}
.show-password-label {
  position: absolute;
  top: 65%;
  right: 63%;
}

.textbox-email-child,
.textbox-password {
  position: absolute;
  height: 15.71%;
  width: 55.66%;
  top: 84.29%;
  right: 0;
  bottom: 0;
  left: 44.34%;
}
.textbox-email-child {
  height: 100%;
  width: 85.34%;
  top: 0;
  left: 14.66%;
  border-radius: var(--br-8xl);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
}
.email {
  position: absolute;
  height: 22.08%;
  width: 14.66%;
  top: 70%;
  left: -425px;
  line-height: 24px;
  font-size: 20px;
  display: inline-block;
}
.frame-input-email {
  position: absolute;
  height: 100%;
  width: 53%;
  top: 31.73%;
  left: -51%;
  line-height: 24px;
  font-family: var(--font-helvetica);
  font-size: 17px;
  border-radius: 15px;
  border-color: #f49b33;
  background-color: var(--primary-color);
  padding-left: 10px;
  display: inline-block;
}
.textbox-email {
  position: absolute;
  height: 15.71%;
  width: 51.46%;
  top: 46.94%;
  right: 0;
  bottom: 37.35%;
  left: 48.54%;
}
.customer-button-child {
  position: absolute;
  height: 19.3%;
  width: 28.04%;
  top: 45.31%;
  right: 71.96%;
  bottom: 35.4%;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--primary-color);
}
.login-as {
  position: absolute;
  height: 29.8%;
  width: 33.31%;
  top: 20px;
  left: 1.5%;
  font-size: 100px;
  line-height: 120px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: inline-block;
}
.customer-button {
  position: absolute;
  height: 45.37%;
  width: 73.18%;
  top: 24.35%;
  right: 17.86%;
  bottom: 30.28%;
  left: 8.96%;
  font-family: var(--font-helvetica);
}
.login-customer-child {
  position: absolute;
  height: 0.72%;
  width: 0.42%;
  top: 14.63%;
  right: 66.77%;
  bottom: 84.65%;
  left: 32.81%;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.ebbdec618a37-removebg-preview-icon {
  position: absolute;
  top: 400px;
  left: 1050px;
  width: 500px;
  height: 360px;
  object-fit: cover;
  opacity: 0.7;
}
.sign-up1 {
  color: #f49b33;
}
.no-account-yet-container {
  position: absolute;
  height: 2.31%;
  width: 20.47%;
  top: 91.39%;
  left: 25%;
  line-height: 24px;
  display: inline-block;
  font-family: var(--font-helvetica);
  text-align: center;
}

/* Sign In Page */
.waiter-button-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--primary-color);
}
.manager {
  position: absolute;
  height: 100%;
  width: 75%;
  top: 31.73%;
  left: -137%;
  line-height: 24px;
  font-family: var(--font-helvetica);
  font-size: 20px;
  border-radius: 25px;
  background-color: orange;
  display: inline-block;
}
.manager-button1 {
  position: absolute;
  height: 8.75%;
  width: 20.52%;
  top: 68.8%;
  right: 70.52%;
  bottom: 22.45%;
  left: 8.96%;
}
.manager-button1 {
  top: 77.59%;
  right: 23.65%;
  bottom: 13.65%;
  left: 55.83%;
  text-align: center;
}
.textbox-password-child {
  position: absolute;
  height: 100%;
  width: 78.9%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 21.1%;
  border-radius: var(--br-8xl);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
}
.password {
  position: absolute;
  height: 22.08%;
  width: 21.1%;
  top: 50%;
  left: -408px;
  line-height: 24px;
  font-size: 20px;
  display: inline-block;
}
.frame-input-pass {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 31.73%;
  left: -40%;
  line-height: 24px;
  font-family: var(--font-helvetica);
  font-size: 17px;
  border-radius: 15px;
  background-color: var(--primary-color);
  display: inline-block;
}
.frame-input-confirm-pass2 {
  position: absolute;
  height: 16%;
  width: 27.5%;
  top: 100%;
  left: 22%;
  line-height: 24px;
  font-family: var(--font-helvetica);
  font-size: 17px;
  border-radius: 15px;
  border-color: #f49b33;
  background-color: var(--primary-color);
  padding-left: 10px;
  display: inline-block;
}
.confirm-password2 {
  font-size: 20px;
  position: absolute;
  top: 325px;
  left: 7px;
}
.textbox-email-child,
.textbox-password {
  position: absolute;
  height: 15.71%;
  width: 55.66%;
  top: 84.29%;
  right: 0;
  bottom: 0;
  left: 44.34%;
}
.textbox-email-child {
  height: 100%;
  width: 85.34%;
  top: 0;
  left: 14.66%;
  border-radius: var(--br-8xl);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
}
.email {
  position: absolute;
  height: 22.08%;
  width: 14.66%;
  top: 70%;
  left: -425px;
  line-height: 24px;
  font-size: 20px;
  display: inline-block;
}
.frame-input-email {
  position: absolute;
  height: 100%;
  width: 53%;
  top: 31.73%;
  left: -51%;
  line-height: 24px;
  font-family: var(--font-helvetica);
  font-size: 17px;
  border-radius: 15px;
  background-color: var(--primary-color);
  display: inline-block;
}
.textbox-email {
  position: absolute;
  height: 15.71%;
  width: 51.46%;
  top: 46.94%;
  right: 0;
  bottom: 37.35%;
  left: 48.54%;
}
.customer-button-child {
  position: absolute;
  height: 19.3%;
  width: 28.04%;
  top: 45.31%;
  right: 71.96%;
  bottom: 35.4%;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--primary-color);
}
.login-as {
  position: absolute;
  height: 29.8%;
  width: 33.31%;
  top: 20px;
  left: 1.5%;
  font-size: 100px;
  line-height: 120px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: inline-block;
}
.customer-button {
  position: absolute;
  height: 45.37%;
  width: 73.18%;
  top: 24.35%;
  right: 17.86%;
  bottom: 30.28%;
  left: 8.96%;
  font-family: var(--font-helvetica);
}
.login-customer-child {
  position: absolute;
  height: 0.72%;
  width: 0.42%;
  top: 14.63%;
  right: 66.77%;
  bottom: 84.65%;
  left: 32.81%;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.ebbdec618a37-removebg-preview-icon {
  position: absolute;
  top: 400px;
  left: 1050px;
  width: 500px;
  height: 360px;
  object-fit: cover;
  opacity: 0.7;
}
.login-1 {
  color: #f49b33;
}
.have-an-account-container {
  position: absolute;
  height: 2.31%;
  width: 20.47%;
  top: 91.39%;
  left: 25.5%;
  line-height: 24px;
  display: inline-block;
  font-family: var(--font-helvetica);
  text-align: center;
}

/* Pop Up Sign Up*/
@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.element {
  animation: zoomIn 2s;
}
.popup-sign-up-child {
  position: absolute;
  top: -110px;
  left: 550px;
  border-radius: 5%;
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(25px);
  width: 408px;
  height: 160px;
  animation: zoomIn 0.3s;
}
.signed-up-succesfully {
  margin: 0;
}
.signed-up-succesfully-container {
  position: absolute;
  top: -100px;
  left: 660px;
  color: white;
  animation: zoomIn 0.3s;
}
.popup-sign-up-inner,
.popup-sign-up-item {
  position: absolute;
  top: 18.75px;
  left: 32.75px;
  border-top: 0.5px solid var(--primary);
  box-sizing: border-box;
  width: 458.5px;
  height: 0.5px;
}
.popup-sign-up-inner {
  top: 91.75px;
  left: 31.75px;
}
.ok {
  position: relative;
  line-height: 24px;
}
.ok-wrapper {
  position: absolute;
  top: -15px;
  left: 715px;
  border-radius: 10%;
  background-color: orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 29px;
  cursor: pointer;
  font-size: 16px;
  color: var(--color-white);
  animation: zoomIn 0.3s;
}
.popup-sign-up {
  position: relative;
  width: 100%;
  height: 160px;
  text-align: center;
  font-size: 18px;
  color: var(--secondary);
  font-family: var(--font-segoe-ui);
}

/* Reservation Page */
.reservation-customer-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.reservation-customer-page .div {
  height: 760px;
  overflow: hidden;
  position: relative;
  width: 1520px;
}
.reservation-customer-page .overlap {
  height: 90%;
  left: 10px;
  position: absolute;
  top: 3px;
  width: 100%;
}
.unsplashlp5mcm6nz5a-icon {
  position: absolute;
  height: 49.72%;
  width: 54.93%;
  top: 0;
  right: 45.07%;
  bottom: 50.28%;
  left: 0;
  border-radius: var(--br-7xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.unsplash-gfcyhore48-icon,
.unsplashclmpc9uhyto-icon,
.unsplashdphm2u1xq0u-icon,
.unsplashmmnki8kmxpc-icon,
.unsplashtzl1ucxg5es-icon {
  position: absolute;
  height: 42.74%;
  width: 37.03%;
  top: 51.96%;
  right: 62.97%;
  bottom: 5.31%;
  left: 0;
  border-radius: var(--br-7xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.unsplash-gfcyhore48-icon,
.unsplashdphm2u1xq0u-icon,
.unsplashmmnki8kmxpc-icon,
.unsplashtzl1ucxg5es-icon {
  height: 32.26%;
  width: 42.64%;
  top: 16.76%;
  right: 0;
  bottom: 50.98%;
  left: 57.36%;
}
.unsplash-gfcyhore48-icon,
.unsplashmmnki8kmxpc-icon,
.unsplashtzl1ucxg5es-icon {
  height: 31.56%;
  width: 33.54%;
  top: 51.96%;
  right: 27.01%;
  bottom: 16.48%;
  left: 39.45%;
}
.unsplashmmnki8kmxpc-icon,
.unsplashtzl1ucxg5es-icon {
  height: 23.46%;
  width: 24.43%;
  top: 51.12%;
  right: 0.15%;
  bottom: 25.42%;
  left: 75.42%;
}
.unsplashmmnki8kmxpc-icon {
  height: 23.18%;
  top: 76.82%;
  bottom: 0;
}
.decor-image {
  position: absolute;
  height: 73.24%;
  width: 40.23%;
  top: 17.31%;
  right: 50.71%;
  bottom: 9.44%;
  left: 9.06%;
}
.warem1 {
  color: white;
}
.book-a-table-container,
.warongwarem1 {
  position: absolute;
  color: orange;
}
.warongwarem1 {
  top: 0;
  left: 0;
  font-size: 40px;
  line-height: 32px;
  font-family: var(--font-kanit);
}
.book-a-table-container {
  height: 23.46%;
  width: 20.64%;
  top: 76.54%;
  left: 81%;
  font-size: 35px;
  line-height: 56px;
  display: inline-block;
  font-family: var(--headingt-2-48);
}
.reserve2 {
  position: relative;
  line-height: 24px;
}
.reserve2-parent {
  position: absolute;
  display: block;
  flex-direction: column;
  align-items: center;
  gap: 100%;
  right: 17%;
  top: -11%;
}
.reserve2-parent button {
  margin: 15px;
}
.navbar-child {
  height: 3.21%;
  width: 0.54%;
  top: 19.34%;
  right: 62.26%;
  bottom: 77.45%;
  left: 37.2%;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.navbar {
  position: absolute;
}
.navbar {
  height: 22.5%;
  width: 77.71%;
  top: 6.67%;
  right: 17.71%;
  bottom: 70.83%;
  left: 4.58%;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.date-icon,
.time-icon,
.people-icon {
  position: relative;
  width: 20px;
  height: 20px;
}

.table-type-icon {
  position: relative;
  width: 20px;
  height: 20px;
}

.date-label,
.time-label,
.people-label {
  position: relative;
  line-height: 24px;
}

.table-type-label {
  position: relative;
  line-height: 24px;
}
.frame-parent {
  left: 50.7%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px; /* Atur sesuai kebutuhan Anda */
  font-family: Arial; /* ganti dengan font yang sesuai */
}
.date-parent,
.time-parent,
.people-parent {
  border-radius: 8px; /* ganti dengan nilai yang sesuai */
  border: 2px solid gainsboro; /* ganti dengan warna yang sesuai */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px; /* ganti dengan nilai yang sesuai */
  gap: 5px;
}
.table-type-parent {
  width: 35%;
  top: 0%;
  right: -37%;
  position: absolute;
  border-radius: 8px; /* ganti dengan nilai yang sesuai */
  border: 2px solid gainsboro; /* ganti dengan warna yang sesuai */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px; /* ganti dengan nilai yang sesuai */
  gap: 5px;
}
.frame-parent {
  position: absolute;
  top: 35%;
  right: 13%;
  width: 535px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px; /* ganti dengan nilai yang sesuai */
  font-family: Arial; /* ganti dengan font yang sesuai */
}
.have-a-green {
  position: absolute;
  height: 100%;
  width: 90%;
  top: 50%;
  left: 40%;
  font-weight: 600;
  text-indent: 2px;
  display: inline-block;
}
.tick-green-card-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 11px;
  right: 0;
  bottom: 0;
  left: -28px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.tick-green-card {
  position: absolute;
  height: 80.95%;
  width: 10.76%;
  top: 9.52%;
  right: 89.24%;
  bottom: 9.52%;
  left: 0;
}
.have-a-green-card {
  position: absolute;
  height: 1.94%;
  width: 8.23%;
  top: 40.37%;
  right: 17.66%;
  bottom: 57.69%;
  left: 74.11%;
  color: var(--color-white);
}
.notes {
  position: absolute;
  height: 2.69%;
  width: 12.66%;
  top: 45%;
  left: 61%;
  font-weight: 600;
  text-indent: 2px;
  display: inline-block;
}
.notes-textarea {
  position: absolute;
  bottom: 41%;
  right: 14.7%;
  width: 350px; /* Mengatur lebar */
  height: 50px; /* Mengatur tinggi */
  background-color: #f8f8f8; /* Mengatur warna latar belakang */
  border: 1px solid #ccc; /* Mengatur border */
  border-radius: 4px; /* Mengatur sudut bulat */
  padding: 10px; /* Mengatur padding */
  font-size: 14px; /* Mengatur ukuran font */
  color: #333; /* Mengatur warna teks */
}
.reservation-customer-page-child {
  position: absolute;
  top: 507px;
  left: 1194px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 462px;
  height: 82px;
}
.span {
  color: #333;
}
.your-information1 {
  position: absolute;
  height: 71.73%;
  width: 60.79%;
  top: 30%;
  left: -4%;
  font-weight: 600;
  text-indent: 2px;
  display: inline-block;
  color: var(--color-silver);
}
.your-information-child,
.your-information-item {
  position: absolute;
  top: 35.54px;
  left: 1.4px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 460.19px;
  height: 54.68px;
}
.full-name-input,
.phone-number-input {
  position: absolute;
  bottom: -125%;
  right: 21%;
  width: 360px; /* Mengatur lebar */
  height: 50px; /* Mengatur tinggi */
  background-color: #f8f8f8; /* Mengatur warna latar belakang */
  border: 1px solid #ccc; /* Mengatur border */
  border-radius: 4px; /* Mengatur sudut bulat */
  padding: 5px; /* Mengatur padding */
  font-size: 14px; /* Mengatur ukuran font */
  color: #333; /* Mengatur warna teks */
}
.your-information-item {
  top: 102.53px;
}
.full-name,
.phone-number {
  position: absolute;
  top: 49.5px;
  left: 26.6px;
  display: inline-block;
  width: 409px;
  height: 30px;
}
.phone-number {
  top: 116.5px;
}
.your-information {
  position: absolute;
  height: 14.56%;
  width: 24.04%;
  top: 55.79%;
  right: 13.7%;
  bottom: 29.66%;
  left: 62.26%;
  color: var(--color-darkgray);
}
.note-use-62 {
  text-indent: 2px;
  margin: 0;
}
.your-information2 {
  position: absolute;
  height: 6.39%;
  width: 30%;
  top: 82.5%;
  left: 59.9%;
  font-weight: 600;
  display: inline-block;
}
.reserve-button-child {
  position: absolute; /* posisi tombol */
  top: 95%; /* posisi tombol dari atas */
  left: 73%; /* posisi tombol dari kiri */
  transform: translate(-50%, -50%); /* pusatkan tombol */
  width: 375px; /* lebar tombol */
  height: 50px; /* tinggi tombol */
  background-color: orange; /* warna latar belakang tombol */
  color: white; /* warna teks tombol */
  text-align: center; /* posisi teks di tengah tombol */
  border-radius: 8px; /* membuat sudut tombol bulat */
  font-size: 20px; /* ukuran font teks tombol */
}
.reserve-button-child.disabled {
  background-color: gray;
  color: #ccc;
  cursor: not-allowed;
}

/* Logout Pop Up */
@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.logout-popup-customer-child {
  position: absolute;
  top: 10px;
  left: 550px;
  border-radius: 5%;
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(25px);
  width: 408px;
  height: 160px;
  animation: zoomIn 0.3s;
  animation-fill-mode: forwards;
}
.are-you-sure {
  position: absolute;
  width: 300px;
  top: 20%;
  left: 605px;
  font-size: 18px;
  color: white;
  animation: zoomIn 0.3s;
  animation-fill-mode: forwards;
}
.logout-popup-customer-inner,
.logout-popup-customer-item {
  position: absolute;
  top: 18.75px;
  left: 32.75px;
  border-top: 0.5px solid var(--primary);
  box-sizing: border-box;
  width: 458.5px;
  height: 0.5px;
}
.logout-popup-customer-inner {
  top: 93.75px;
}
.yes {
  position: relative;
  line-height: 24px;
}
.no-wrapper,
.yes-wrapper {
  position: absolute;
  top: 107px;
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-10xl);
}
.yes-wrapper {
  height: 40px;
  width: 75px;
  left: 815px;
  background-color: #6cc824;
  border-radius: 8px;
  cursor: pointer;
  animation: zoomIn 0.3s;
  animation-fill-mode: forwards;
}
.no-wrapper {
  height: 40px;
  width: 75px;
  left: 620px;
  background-color: #f32105;
  border-radius: 8px;
  cursor: pointer;
  animation: zoomIn 0.3s;
  animation-fill-mode: forwards;
}
.logout-popup-customer {
  position: relative;
  top: 30%;
  width: 100%;
  height: 168px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-segoe-ui);
}
.logout-popup-customer-child.closing,
.are-you-sure.closing,
.logout-popup-customer-inner.closing,
.logout-popup-customer-item.closing,
.yes.closing,
.no-wrapper.closing,
.yes-wrapper.closing,
.logout-popup-customer.closing {
  animation: zoomOut 0.3s;
  animation-fill-mode: forwards;
}

/* Costumer Service */
.customer-service-customer-pa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.customer-service-customer-pa .div {
  height: 760px;
  overflow: hidden;
  position: relative;
  width: 1520px;
}
.customer-service-customer-pa .overlap {
  height: 90%;
  left: 10px;
  position: absolute;
  top: 3px;
  width: 100%;
}
.contact-us {
  position: absolute;
  top: 180px;
  left: 700px;
  text-transform: uppercase;
  color: orange;
  font-size: 25px;
}
.submit-button-child {
  position: absolute;
  height: 7%;
  width: 20%;
  top: 52%;
  left: 61.6%;
  line-height: 24px;
  font-family: var(--font-helvetica);
  font-size: 20px;
  border-radius: 15px;
  background-color: orange;
  display: inline-block;
  z-index: 1;
}
.full-name1 {
  position: absolute;
  top: -120%;
  left: 0%;
  font-size: 15px;
  color: var(--tertiary);
}
.full-name-cs-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 783px;
  height: 76px;
  font-size: var(--font-size-sm);
  color: var(--sub);
}
.leave-a-message {
  position: absolute;
  top: -48%;
  right: 42%;
  font-size: 15px;
  color: var(--tertiary);
}
.phone-number1 {
  position: absolute;
  top: -650%;
  left: 0%;
  font-size: 15px;
  color: var(--tertiary);
}
.phone-number-wrapper1 {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 150px;
  height: 16px;
}
.group-item {
  position: absolute;
  height: 200%;
  width: 210%;
  top: -470%;
  left: -3%;
  background-color: #333;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
}
.group-child {
  position: absolute;
  height: 50%;
  width: 40%;
  top: -85%;
  left: -0.5%;
  background-color: #333;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
}
.message-input {
  position: absolute;
  height: 30%;
  width: 30%;
  top: -33%;
  right: 25%;
  bottom: -0.92%;
  background-color: #333;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
}
.group-parent {
  position: absolute;
  top: 336px;
  left: 336px;
  width: 1249px;
  height: 192px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--tertiary);
}
.unsplashfdlzbwip0am-iconn {
  position: absolute;
  bottom: -3%;
  left: 1050px;
  border-radius: 10px;
  width: 500px;
  height: 250px;
  object-fit: cover;
}
.unsplashjpkfc5-d-di-iconn {
  position: absolute;
  bottom: -3%;
  left: 525px;
  border-radius: 10px;
  width: 500px;
  height: 250px;
  object-fit: cover;
}
.unsplashmaqz3x-8-l0-iconn {
  position: absolute;
  bottom: -3%;
  left: 0px;
  border-radius: 10px;
  width: 500px;
  height: 250px;
  object-fit: cover;
}

/* Costumer Service Pop Up */
@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.popup-customer-service-child {
  position: absolute;
  top: 250px;
  left: 550px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(25px);
  width: 400px;
  height: 160px;
  z-index: 2;
  animation: zoomIn 0.3s;
  animation-fill-mode: forwards;
}
.your-feedback-has {
  margin: 0;
}
.your-feedback-has-container {
  position: absolute;
  top: 270px;
  left: 627px;
  z-index: 2;
  animation: zoomIn 0.3s;
  animation-fill-mode: forwards;
}
.popup-customer-service-inner,
.popup-customer-service-item {
  position: absolute;
  top: 18.75px;
  left: 32.75px;
  border-top: 0.5px solid var(--primary);
  box-sizing: border-box;
  width: 458.5px;
  height: 0.5px;
}
.popup-customer-service-inner {
  top: 93.75px;
}
.done1 {
  position: relative;
  line-height: 24px;
}
.done-wrapper1 {
  position: absolute;
  top: 350px;
  left: 703px;
  border-radius: 10px;
  background-color: orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 29px;
  font-size: 16px;
  cursor: pointer;
  color: var(--color-white);
  z-index: 2;
  animation: zoomIn 0.3s;
  animation-fill-mode: forwards;
}
.popup-customer-service {
  position: relative;
  width: 100%;
  height: 168px;
  text-align: center;
  font-size: 18px;
  color: var(--secondary);
  font-family: var(--font-segoe-ui);
}

/* Booking Pop Up */
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

/* Menggunakan Animasi */
.booking-popup-customer-page {
  animation: zoomIn 0.5s forwards;
}

.booking-popup-customer-page.closing {
  animation: zoomOut 0.5s forwards;
}
/* Untuk mengedit desain elemen dengan class "booking-popup-customer-page" */
.booking-popup-customer-page {
  position: relative;
  width: 100%;
  height: 498px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--secondary);
  font-family: var(--font-segoe-ui);
}

/* Untuk mengedit desain elemen dengan class "booking-popup-customer-page-child" */
.booking-popup-customer-page-child {
  position: absolute;
  top: 120px;
  left: 560px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(25px);
  width: 400px;
  height: 400px;
}

/* Untuk mengedit desain elemen dengan class "material-symbolstable-bar-icon" */
.material-symbolstable-bar-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 600px;
  top: 375px;
}

/* Untuk mengedit desain elemen dengan class "material-symbolsdate-range-icon-1" dan "material-symbolsdate-range-icon-2" */
.material-symbolsdate-range-icon-1 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 90px;
  left: 205%;
}
.material-symbolsdate-range-icon-2 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 90px;
  left: 475%;
}
/* Untuk mengedit desain elemen dengan class "indoor" */
.indoor {
  position: absolute;
  top: 372.5px;
  left: 627px;
}

/* Untuk mengedit desain elemen dengan class "notes-tidak-pake" */
.notes-tidak-pake {
  position: absolute;
  top: 410px;
  left: 602px;
  display: inline-block;
  width: 422px;
  height: 73px;
}

/* Untuk mengedit desain elemen dengan class "frame-icon" */
.frame-icon {
  position: absolute;
  top: 150px;
  left: 721px;
  width: 80px;
  height: 80px;
}

/* Untuk mengedit desain elemen dengan class "sent" */
.sent {
  color: orange;
}

/* Untuk mengedit desain elemen dengan class "table-booking-request-container" */
.table-booking-request-container {
  position: absolute;
  top: 250px;
  left: 625px;
  font-size: 20px;
  line-height: 24px;
  white-space: nowrap;
}

/* Untuk mengedit desain elemen dengan class "container-1" */
.container-1 {
  position: relative;
  top: 280px;
  left: 000px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Untuk mengedit desain elemen dengan class "names" dan "b" */
.names,
.b {
  margin-right: 10px;
}

/* Untuk mengedit desain elemen dengan class "material-symbolsdate-range-parent" */
.material-symbolsdate-range-parent {
  position: absolute;
  width: 269px;
  height: 24px;
  top: 0;
  left: 0;
}

/* Untuk mengedit desain elemen dengan class "december-2023" */
.december-2023 {
  position: absolute;
  top: 87.5px;
  left: 215%;
  width: 133px;
}

/* Untuk mengedit desain elemen dengan class "mdiperson-multiple-parent" */
.mdiperson-multiple-parent {
  position: absolute;
  top: 0;
  left: 312px;
  width: 97px;
}

/* Untuk mengedit desain elemen dengan class "people" */
.people {
  position: absolute;
  top: 87.5px;
  left: 490px;
  width: 61px;
}

/* Untuk mengedit desain elemen dengan class "group-parent-1" */
.group-parent-1 {
  position: absolute;
  top: 239px;
  left: 49px;
  width: 409px;
}

/* Untuk mengedit desain elemen dengan class "booking-popup-customer-page-item", "booking-popup-customer-page-inner", "booking-popup-customer-page-child1", dan "line-div" */
.booking-popup-customer-page-item,
.booking-popup-customer-page-inner,
.booking-popup-customer-page-child1,
.line-div {
  position: absolute;
  top: 157.75px;
  left: 31.75px;
  border-top: 0.5px solid var(--primary);
  box-sizing: border-box;
  width: 458.5px;
  height: 0.5px;
}

.booking-popup-customer-page-inner,
.booking-popup-customer-page-child1,
.line-div {
  top: 216.75px;
}

.booking-popup-customer-page-child1,
.line-div {
  top: 331.75px;
}

.booking-popup-customer-page-child1 {
  top: 422.75px;
  left: 30.75px;
}

/* Untuk mengedit desain elemen dengan class "done" */
.done {
  position: relative;
  line-height: 24px;
}

/* Untuk mengedit desain elemen dengan class "done-wrapper" */
.done-wrapper {
  position: absolute;
  top: 452px;
  left: 712px;
  border-radius: 8px;
  background-color: orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 29px;
  text-align: center;
  font-size: 16px;
  color: var(--color-white);
}

/* History */
.reservation-history-customer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.reservation-history-customer .div {
  height: 760px;
  overflow: hidden;
  position: relative;
  width: 1520px;
}
.reservation-history-customer .overlap {
  height: 90%;
  left: 10px;
  position: absolute;
  top: 3px;
  width: 100%;
}

/* WAITER GEO PNYA */
.waiter-window {
  background-color: #f6f6f6;
  height: 946px;
  position: relative;
  width: 1250px;
}

.waiter-window .overlap {
  border-radius: 10px;
  height: 48px;
  left: 16px;
  position: absolute;
  top: 107px;
  width: 50px;
}

.waiter-window .rectangle {
  background-color: #5e5e5e;
  border-radius: 10px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.waiter-window .icon-park-table {
  height: 30px !important;
  left: 9px !important;
  position: absolute !important;
  top: 9px !important;
  width: 30px !important;
}

.waiter-window .power-off {
  height: 30px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 245px;
  width: 30px;
}

.waiter-window .line {
  height: 1px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 225px;
  width: 44px;
}

.waiter-window .ic-sharp-table {
  height: 30px;
  left: 24px;
  position: absolute;
  top: 175px;
  width: 30px;
}

.waiter-window .overlap-group {
  height: 339px;
  left: 117px;
  position: absolute;
  top: 160px;
  width: 1077px;
}

.waiter-window .stable-table-row {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  gap: 20px;
  height: 40px;
  left: 1px;
  padding: 0px 20px;
  position: absolute;
  top: 0;
  width: 1076px;
}

.waiter-window .checkbox {
  background-color: #ffffff;
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
      to bottom,
      rgb(199.89, 199.89, 199.89),
      rgb(150.96, 150.96, 150.96)
    )
    1;
  border-radius: 3px;
  box-shadow: inset 0px 1px 2px #00000033;
  height: 14px;
  position: relative;
  width: 14px;
}

.waiter-window .stable-table-grid {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.waiter-window .stable-table-cell {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 135px;
}

.waiter-window .text-wrapper {
  align-self: stretch;
  color: #0f1419;
  flex: 1;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  position: relative;
}

.waiter-window .div-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 128px;
}

.waiter-window .div {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 100px;
}

.waiter-window .stable-table-cell-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.waiter-window .stable-table-row-2 {
  align-items: center;
  background-color: #fff9f1;
  border: 1px solid;
  border-color: #ffe2c0;
  display: flex;
  gap: 20px;
  height: 62px;
  left: 0;
  padding: 0px 20px;
  position: absolute;
  top: 39px;
  width: 1076px;
}

.waiter-window .checkbox-2 {
  background-color: #f49b32;
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
      to bottom,
      rgb(199.89, 199.89, 199.89),
      rgb(150.96, 150.96, 150.96)
    )
    1;
  border-radius: 3px;
  box-shadow: inset 0px 1px 2px #00000033;
  height: 14px;
  position: relative;
  width: 14px;
}

.waiter-window .text-wrapper-2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #333333;
  display: -webkit-box;
  flex: 1;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.waiter-window .stable-table-cell-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 130px;
}

.waiter-window .stable-table-cell-4 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 101px;
}

.waiter-window .text-wrapper-3 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #333333;
  display: -webkit-box;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-right: -71px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 172px;
}

.waiter-window .stable-table-cell-5 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 146px;
}

.waiter-window .stable-table-cell-6 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 141px;
}

.waiter-window .text-wrapper-4 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #ffdd67;
  display: -webkit-box;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 76px;
}

.waiter-window .group {
  height: 40px;
  margin-right: -17.27px;
  position: relative;
  width: 72.27px;
}

.waiter-window .overlap-group-2 {
  background-color: var(--primary);
  border-radius: 4px;
  height: 40px;
  position: relative;
  width: 70px;
  left: 50px;
}

.waiter-window .text-wrapper-5 {
  color: var(--white);
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 70px;
}

.waiter-window .stable-table-row-3 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ffe2c0;
  display: flex;
  gap: 20px;
  height: 62px;
  left: 0;
  padding: 0px 20px;
  position: absolute;
  top: 159px;
  width: 1076px;
}

.waiter-window .checkbox-3 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--secondary);
  border-radius: 3px;
  height: 14px;
  position: relative;
  width: 14px;
}

.waiter-window .stable-table-cell-7 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 131px;
}

.waiter-window .text-wrapper-6 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: var(--secondary);
  display: -webkit-box;
  flex: 1;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.waiter-window .element-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 134px;
}

.waiter-window .stable-table-cell-8 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 102px;
}

.waiter-window .stable-table-cell-9 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 145px;
}

.waiter-window .stable-table-cell-10 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 149px;
}

.waiter-window .stable-table-cell-11 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 138px;
}

.waiter-window .text-wrapper-7 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #6cc824;
  display: -webkit-box;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 76px;
}

.waiter-window .stable-table-row-4 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ffe2c0;
  display: flex;
  gap: 20px;
  height: 62px;
  left: 0;
  padding: 0px 20px;
  position: absolute;
  top: 99px;
  width: 1076px;
}

.waiter-window .text-wrapper-8 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #24bec8;
  display: -webkit-box;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 76px;
}

.waiter-window .stable-table-row-5 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ffe2c0;
  display: flex;
  gap: 20px;
  height: 62px;
  left: 0;
  padding: 0px 20px;
  position: absolute;
  top: 219px;
  width: 1076px;
}

.waiter-window .text-wrapper-9 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #f22104;
  display: -webkit-box;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 76px;
}

.waiter-window .stable-table-row-6 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ffe2c0;
  display: flex;
  gap: 20px;
  height: 62px;
  left: 0;
  padding: 0px 20px;
  position: absolute;
  top: 277px;
  width: 1076px;
}

.waiter-window .checkbox-4 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #c4c4c4;
  border-radius: 3px;
  height: 14px;
  position: relative;
  width: 14px;
}

.waiter-window .text-wrapper-10 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #0f1419;
  display: -webkit-box;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 76px;
}

.waiter-window .overlap-wrapper {
  height: 40px;
  left: 1039px;
  position: absolute;
  top: 885px;
  width: 128px;
}

.waiter-window .overlap-2 {
  background-color: #f22104;
  border-radius: 4px;
  height: 40px;
  position: fixed;
  width: 126px;
  top: 638px;
}

.waiter-window .text-wrapper-11 {
  color: #ffffff;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 126px;
}

.waiter-window .overlap-group-wrapper {
  height: 40px;
  left: 861px;
  position: absolute;
  top: 885px;
  width: 152px;
}

.waiter-window .assign-reserve-wrapper {
  background-color: #6cc824;
  border-radius: 4px;
  height: 40px;
  position: fixed;
  width: 150px;
  top: 638px;
}

.waiter-window .assign-reserve {
  color: var(--white);
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 150px;
}

.waiter-window .img {
  height: 1px;
  left: 101px;
  object-fit: cover;
  position: absolute;
  top: 872px;
  width: 1064px;
}

.waiter-window .text-wrapper-12 {
  color: #000000;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 120px;
  letter-spacing: 0;
  line-height: 24px;
  position: fixed;
  text-align: center;
  top: 650px;
  white-space: nowrap;
}

.waiter-window .group-2 {
  height: 46px;
  left: 763px;
  position: absolute;
  top: 58px;
  width: 269px;
}

.waiter-window .overlap-3 {
  height: 46px;
  position: fixed;
  width: 267px;
}

.waiter-window .overlap-4 {
  height: 46px;
  left: 0;
  position: fixed;
  top: 0;
  width: 267px;
}

.waiter-window .rectangle-2 {
  background-color: #ffffff;
  border: 2px dashed;
  border-color: #dfdfdf;
  border-radius: 5px;
  height: 203px;
  left: 1120px;
  position: fixed;
  top: -20px;
  transform: rotate(90deg);
  width: 35px;
}

.waiter-window .ri-search-line-instance {
  height: 20px !important;
  left: 232px !important;
  position: fixed !important;
  top: 12px !important;
  width: 20px !important;
}

.waiter-window .text-wrapper-13 {
  color: #000000;
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 30px;
  left: 925px;
  letter-spacing: 0;
  line-height: 12px;
  position: fixed;
  top: 65px;
  white-space: nowrap;
  background-color: #dfdfdf;
  border-radius: 15px;
  background-color: var(--primary-color);
  padding-left: 10px;
  display: inline-block;
}

.waiter-window .rectangle-3 {
  background-color: #5e5e5e;
  height: 40px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1250px;
}

.waiter-window .warong-warem {
  color: transparent;
  font-family: "Kanit-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 14px;
  letter-spacing: 0;
  line-height: 32px;
  position: fixed;
  top: -28px;
  white-space: nowrap;
}

.waiter-window .span {
  color: #ff9f0d;
}

.waiter-window .text-wrapper-14 {
  color: #ffffff;
}

.waiter-window .group-3 {
  height: 40px;
  left: 1270px;
  position: fixed;
  top: 62px;
  width: 128px;
}

.waiter-window .overlap-5 {
  background-color: #f49b32;
  border-radius: 4px;
  height: 40px;
  position: relative;
  width: 80px;
  left: -150px;
}

.waiter-window .text-wrapper-15 {
  color: #000000;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 20px;
  left: 116px;
  letter-spacing: 0;
  line-height: 20px;
  position: fixed;
  text-align: center;
  top: 71px;
  white-space: nowrap;
}

.waiter-window .frame {
  align-items: center;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #dfdfdf;
  border-radius: 5px;
  display: inline-flex;
  gap: 16px;
  justify-content: center;
  left: 251px;
  padding: 10px 16px;
  position: fixed;
  top: 59px;
}

.waiter-window .icon-instance-node {
  height: 25px !important;
  position: relative !important;
  width: 25px !important;
}

.waiter-window .text-wrapper-16 {
  color: #000000;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.waiter-window .mdi-chevron-down {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.waiter-window .frame-2 {
  align-items: center;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #dfdfdf;
  border-radius: 5px;
  display: inline-flex;
  gap: 16px;
  justify-content: center;
  left: 470px;
  padding: 10px 16px;
  position: fixed;
  top: 59px;
}

.waiter-window .frame-3 {
  align-items: center;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #dfdfdf;
  border-radius: 5px;
  display: inline-flex;
  gap: 16px;
  justify-content: center;
  left: 650px;
  padding: 10px 16px;
  position: fixed;
  top: 60px;
}

.waiter-window .text-wrapper-17 {
  color: #000000;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.waiter-window .text-wrapper-18 {
  color: #ffffff;
  font-family: "Kanit-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 1140px;
  letter-spacing: 0;
  line-height: 32px;
  position: fixed;
  top: 3px;
  white-space: nowrap;
}

.waiter-window .dateinputwaiter {
  background-color: #ffffff;
}

.waiter-window .logoutwaiter-btn {
  background-color: #ffffff;
  top: 280px;
  position: fixed;
  left: 15px;
  width: 68px;
  height: 50px;
}

.waiter-window .Logoutwaiter {
  width: 30px;
  height: 30px;
  left: 18px;
  position: absolute;
  top: 10px;
}

.waiter-window .tablewaiter-btn {
  background-color: #ffffff;
  top: 200px;
  position: fixed;
  left: 15px;
}

.waiter-window .mainwaiter-btn {
  background-color: #5e5e5e;
  top: 130px;
  position: fixed;
  left: 15px;
}

.waiter-window .tablewaiter-btn2 {
  background-color: #5e5e5e;
  top: 200px;
  position: fixed;
  left: 15px;
}

.waiter-window .mainwaiter-btn2 {
  background-color: #ffffff;
  top: 130px;
  position: fixed;
  left: 15px;
}
